* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Martian Mono", serif;
}

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Scrollbar Track on Hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.wrapper {
  position: relative;
  background-color: #faf5f3;
  overflow: hidden;
  padding-bottom: 5rem;
}
.wrapper__img {
  position: absolute;
  width: 100%;
  object-fit: contain;
}

.container {
  max-width: 1174px;

  margin: 0 auto;
}

.nav {
  padding-top: 2rem;
}

.section-title {
  font-size: 50px;
  line-height: 130%;
  letter-spacing: -2px;
  font-weight: 600;

  margin-bottom: 2rem;
}

.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}
.hero__text {
  width: 50%;
  margin-top: 2rem;
}
.hero__img {
  width: 40%;
}
.hero__img img {
  width: 100%;
  border-radius: 10px;
}
.hero-title {
  font-size: 62px;
  line-height: 120%;
  letter-spacing: -2px;
  font-weight: 700;

  margin-bottom: 1rem;
}
.hero-subtext {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-weight: 400;
  font-family: "Inter", serif;

  margin-bottom: 1.5rem;
}
.hero-link {
  width: 380px;
  padding: 0.5rem;
  border: 2px solid black;
  background-color: #fff5ef;
  border-radius: 5px;
  margin-bottom: 1.5rem;

  display: flex;
  justify-content: center;
}

.hero-link:hover {
  cursor: pointer;
  background: linear-gradient(135deg, #FFE2D1, #FFF5EF);
  transition: background 0.5s ease-in-out;
}

.hero-link a {
  text-decoration: none;
  color: inherit;
  margin-right: 1rem;

  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -1px;
}

.hero__review {
  display: flex;
  margin-top: 2rem;
}
.hero-avatars {
  width: 110px;
  object-fit: contain;
  margin: auto 0;
  margin-right: 1rem;
}
.review {
  width: 266px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
}
.review .review__stars img {
  object-fit: contain;
}
.review p {
  font-size: 14px;
  line-height: 120%;
  letter-spacing: -1px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.read {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}
.read__img {
  border-radius: 10px;
  width: 50%;
}
.read__img img {
  object-fit: contain;
  width: 100%;
}
.read__content {
  width: 40%;
  margin-top: 2rem;
}
.read-title {
  font-size: 50px;
  line-height: 130%;
  letter-spacing: -2px;
  font-weight: 600;

  margin-bottom: 2rem;
}
.read-checklist li {
  display: flex;
  margin-bottom: 2rem;
}
.read-checklist li img {
  margin-right: 0.5rem;
  width: 24px;
  object-fit: contain;
}
.read-checklist li p {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-weight: 400;
  font-family: "Inter", serif;
}

.average {
  display: flex;
  justify-content: space-between;
  margin-top: 10rem;
  position: relative;
}
.average__text {
  width: 50%;
}
.average-title {
  font-size: 50px;
  line-height: 130%;
  letter-spacing: -2px;
  font-weight: 600;

  margin-bottom: 2rem;
}

.circle {
  position: relative;
}
.circle img {
  position: absolute;
  z-index: 100;
  right: 0;
}
.average__subtext {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-weight: 400;
  font-family: "Inter", serif;
}
.bold {
  font-weight: 700;
}
.average__img {
  width: 40%;
}
.average__img img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}
.average__pattern {
  position: absolute;
  z-index: 100;
  bottom: 5%;
  left: 59%;
  transform: translateX(-59%);
}
a.average__pattern img {
  object-fit: contain;
  width: 100%;
}

.journey {
  margin-top: 8rem;
  position: relative;
  overflow: hidden;
  padding-bottom: 4rem;
  border-radius: 10px;
}
.journey__glow {
  position: absolute;
  left: 50%;
  bottom: 40;
}
.journey__bg {
  position: absolute;
  z-index: -1;
  width: 100%;

  background-color: #faf5f3;
}
.journey__title {
  font-size: 50px;
  line-height: 130%;
  letter-spacing: -2px;
  font-weight: 600;
  text-align: center;

  padding-top: 2rem;
  margin-bottom: 4rem;
}
.journey__steps {
  list-style: none;
  display: flex;
  width: 90%;
  margin: 0 auto;
}
.journey-step + .journey-step {
  margin-left: 2rem;
}
.step-number {
  display: flex;
  justify-content: space-between;
}
.number {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -1px;
  font-weight: 600;
  padding: 6px 10px;
  border: 3px solid black; /* Correct way to add a box */
  display: inline-block; /* Ensures proper box wrapping */
  border-radius: 5px;
}
.journey-step h4 {
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -1px;
  font-weight: 600;
}

.membership {
  margin-top: 8rem;
}
.membership__title {
  text-align: center;
  margin-bottom: 5rem;
}
.membership__options {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap on smaller screens */
  justify-content: space-between;
  gap: 2rem;

  list-style: none;

  margin-bottom: 10rem;
}
.membership-card {
  padding: 2rem 1.5rem;
  border: 1px solid #e6e1df;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.membership-card-special {
  /* padding:4rem 2rem; */
  background-color: #faf5f3;
  border-radius: 10px;
}
.glow {
  position: absolute;

  left: -1;
  bottom: -1;
}
.membership-card h1 {
  font-size: 24px;
  line-height: 110%;
  letter-spacing: -1px;
  font-weight: 600;

  margin-bottom: 1rem;
}
.price {
  font-size: 34px;
  line-height: 130%;
  letter-spacing: -1px;
  font-weight: 600;

  margin-bottom: 1rem;
}
.price span {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-weight: 400;
  font-family: "Inter", serif;

  color: #385159;
}

.membership-perk {
  display: flex;
  margin-bottom: 1rem;
}
.membership-perk img {
  margin-right: 1rem;
}
.membership-perk p {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-weight: 400;
  font-family: "Inter", serif;

  color: #385159;
}
.membership-subscribe {
  text-decoration: none;
  color: #062630;

  width: 292px;
  padding: 1rem 0.5rem;
  text-transform: uppercase;

  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -1px;
}
.divider {
  height: 1px;
  color: #e6e1df;
  margin: 1rem 0;
}

.testomonial {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 8rem;
}
.testomonial__text {
  margin-top: 2rem;

  font-size: 34px;
  line-height: 130%;
  letter-spacing: -1px;
  font-weight: 600;

  margin-bottom: 2rem;
}
.testomonial__subtext {
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  font-weight: 400;
  font-family: "Inter", serif;

  color: #385159;
}

.footer {
  background-color: #062630;
  border-radius: 10px 10px 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  position: relative;
  overflow: hidden;
}
.footer_grid {
  position: absolute;
  width: 100%;
}
.footer__text {
  color: #faf5f3;
  font-size: 50px;
  line-height: 130%;
  letter-spacing: -2px;
  font-weight: 600;

  padding-top: 5rem;

  width: 40%;
  margin: 0 auto;
}
.footer-link {
  width: 380px;
  padding: 1rem;
  border: 2px solid white;
  background-color: #062630;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  color: #faf5f3;

  display: flex;

  margin-top: 3rem;
}
.footer-link:hover{
  background: linear-gradient(135deg, #385159, #062630);
  transition: background 0.5s ease-in-out;
}
.center {
  margin-top: 0;
}
.footer__review {
  display: flex;
  align-items: start;
  color: white;
}
.bottom {
  width: 90%;
  margin: 0 auto;
  margin-top: 4rem;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  color: white;
}
.footer__divider {
  width: 100%;
}

.social-media {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 1024px) {
  .container {
    width: 90%;
  }
  .hero {
    flex-direction: column;
  }
  .read {
    flex-direction: column;
  }
  .hero__text {
    width: 100%;
  }
  .hero-link {
    margin-bottom: 0;
  }

  .hero__review {
    margin: 1rem 0 3rem 0;
  }
  .hero__img {
    width: 100%;
  }

  .read__img {
    width: 100%;
    order: 2;
  }
  .read__content {
    width: 100%;
    order: 1;
  }
  .average {
    flex-direction: column;
  }
  .average__text {
    width: 100%;
    margin-bottom: 2rem;
  }
  .average__img {
    width: 100%;
  }
  .average__pattern {
    left: 90%;
  }

  .journey {
    /* overflow:visible; */
  }
  .journey__bg {
    width: auto;
    border-radius: 20px;
  }
  .journey__title{
    text-align: start;
    padding-left: 2rem;

  }
  .journey__steps {
    flex-direction: column;
    gap:2rem;
    width: 100%;
    padding: 0 2rem;
    margin: 0;
    margin-top:2rem;
  }
  .journey-step + .journey-step {
    margin-left: 0;
  }
  .journey__steps img {
    display: none;
  }
  .step-number {
    margin-bottom: 1rem;
  }

  .membership__options {
     justify-content: center;
   /* gap: 3rem; */
  }
  .membership-card {
    width: 100%;
  }

  .testomonial {
    text-align: start;
    align-items: start;
  }
  .testomonial__text {
    font-size: 24px;
    line-height: 110%;
    letter-spacing: -1px;
  }

  .footer__text {
    width: 90%;
  }
  .footer-link {
    width: 50%;
  }
  .center {
    justify-content: center;
    margin: 0 auto;

    margin-top: 1.5rem;
  }

  .bottom {
    width: 100%;
    margin: 0;
  }
  .footer__bottom {
    padding: 2rem;
  }
}

@media (max-width: 767px) {
  .hero {
    flex-direction: column;
  }
  .hero-title {
    font-size: 38px;
  }
  .hero-link {
    width: 100%;
  }
  

  .membership__title{
    text-align: start;
    font-size:34px;
    margin-bottom: 2rem;
  }

  .read {
    flex-direction: column;
  }
  .average__pattern {
    display: none;
  }
    .journey__title{
    font-size:34px;
    text-align: start;
    padding-left: 1rem;

  }
  .journey__steps {
    padding: 0 1rem;
  }

  .footer__review {
    text-align: start;
  }
  .footer__text {
     font-size: 34px;
  }
  .footer-link {
    width: 90%;
  }

 .footer__bottom {
 

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1.5rem;
}
/* 
TODO:
-fix journey section
*/
